*{
      margin: 0;
      padding: 0;
      
}
#navtgation{
      background-image: linear-gradient(green, red);
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1000px;
      margin: auto;
      
}
#navtgation > ul{
      display: flex;
      margin-right: 50px;
}
#navtgation > ul > li{
      list-style: none;
      padding: 15px 0px;
     
}
#navtgation > ul > li > a {
      text-decoration: none;
      color: white;
      font-size: 22px;
      border-right: 1px solid ;
      padding: 16px 20px;
      transition: 0.5s;
}
#navtgation > ul > li:first-child > a {
      border-left: 1px solid;
      padding-left: 15px;
}
#navtgation > ul > li > a:hover{
      background-color: #04e904;
}
.logo{
      color: white;
      margin-left: 30px;
      font-size: 25px;
}
/* dropdown menu start  */
.dropdown{
      background-color: #04e904;
      text-align: center;
      margin-top: 16px;
      position: absolute;
      font-size: 22px;
      opacity: 0;
      transition: 0.5s;
      visibility: hidden;
      transform: scaleY(0);
      transform-origin: top;
      box-shadow: 5px 5px 5px red;
      
     
} 
.dropdown > li{
      list-style: none;
      padding: 10px;
      border-bottom: 2px solid white;
      border-radius: 5px;
      
}
.dropdown > li:hover{
      background-color: #12641263;
      
     
}
.dropdown > li > a{
      text-decoration: none;
      color: white;
      text-align: center;
      
}
.firstdrop:hover > .dropdown{
      opacity: 1;
      visibility: visible;
     transform: scaleY(1);
      
}
span{
      color: red;
      font-size: 35px;
}
.main_header{
      background-image: url(picture/beach_web.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      background-position: center;
      height: 600px;
      width: 1000px;
      margin: auto;
      display: flex;
     
     
      

}
.header_container{
      padding-top:50px;
      border: 3px solid blue;
      width: 600px;
      background-color: #2e3b3f8a;
      margin-left: 200px;
      margin-top: 130px;
      border-radius: 5px;
      color: #fff;
      height: 300px;
      font-size: 25px;
      

    
}
.header_container > button{
      padding: 10px;
      background-color: gray;
      border-radius: 5px;
      margin-top: 50px  ;
      /* margin-bottom: 20px; */
      color: black;
}
.header_container > button:hover{
      background-color: antiquewhite;
      cursor: pointer;
}