*{
      margin: 0;
      padding: 0;
}
#navtgation{
      background-image: linear-gradient(green, red);
      display: flex;
      justify-content: space-between;
      align-items: center;
}
#navtgation > ul{
      display: flex;
      margin-right: 50px;
}
#navtgation > ul > li{
      list-style: none;
      padding: 15px 0px;
     
}
#navtgation > ul > li > a {
      text-decoration: none;
      color: white;
      font-size: 22px;
      border-right: 1px solid ;
      padding: 16px 20px;
      transition: 0.5s;
}
#navtgation > ul > li:first-child > a {
      border-left: 1px solid;
      padding-left: 15px;
}
#navtgation > ul > li > a:hover{
      background-color: #04e904;
}
.logo{
      color: white;
      margin-left: 30px;
      font-size: 25px;
}
/* dropdown menu start  */
.dropdown{
      background-color: #04e904;
      text-align: center;
      margin-top: 16px;
      position: absolute;
      font-size: 22px;
      opacity: 0;
      transition: 0.5s;
      visibility: hidden;
      transform: scaleY(0);
      transform-origin: top;
      box-shadow: 5px 5px 5px red;
      
     
} 
.dropdown > li{
      list-style: none;
      padding: 10px;
      border-bottom: 2px solid white;
      border-radius: 5px;
      
}
.dropdown > li:hover{
      background-color: #12641263;
      
     
}
.dropdown > li > a{
      text-decoration: none;
      color: white;
      text-align: center;
      
}
.firstdrop:hover > .dropdown{
      opacity: 1;
      visibility: visible;
     transform: scaleY(1);
      
}
span{
      color: red;
      font-size: 35px;
}
.main_header{
      background-image: url(picture/beach_web.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      background-position: center;
      height: 600px;
      

}
.header_container{
      padding-top:100px;
     
      
      
}